[Desktop Entry]
Encoding=UTF-8
Name=Beginnercoin
Comment=Beginnercoin P2P Cryptocurrency
Comment[fr]=Beginnercoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Beginnercoin, eşten eşe kriptografik sanal para birimi
Exec=beginnercoin-qt %u
Terminal=false
Type=Application
Icon=beginnercoin128
MimeType=x-scheme-handler/beginnercoin;
Categories=Office;Finance;
